* {
  margin: 0;
}
.app {
  width: 100vw;
  background-image: linear-gradient(to right, #051421, #042727);
  font-family: 'Roboto Condensed', sans-serif;
}
body {
  overflow-x: hidden;
}
/* Hide Scrollbar for Chrome, Safari and Opera */
.header::-webkit-scrollbar,
.nav::-webkit-scrollbar {
  display: none;
}
/* Hide Scrollbar for IE, Edge and FireFox */
.header,
.nav {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
